<% if current_user %>
  <% title "Signed in as #{current_user.name}." %>
  <p><%= link_to "Sign out", signout_path %></p>
<% else %>
  <% title "Sign In" %>
  <%= form_tag "/auth/identity/callback" do %>
    <div class="field">
      <%= label_tag :auth_key, "Email" %><br>
      <%= text_field_tag :auth_key %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Sign In" %>
    </div>
  <% end %>
<% end %>