<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>
      <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :entered_amount, 'Amount' %><br />
    <%= f.text_field :entered_amount, :placeholder => 'Ex. 14.5 oz, 1 gallon, 2 lb' %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
