<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) + " - Angel Cups" || "Angel Cups" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <h1 id="title"><%= link_to 'Angel Cups', '/' %></h1>
    <div id="container">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>